#app {
    width: 100%;
    margin: 0
}

.card {
    max-width: 100%;
    margin: 10% auto;
}

.restaurant {
    max-width: 100%;
    margin: 20px auto;
}

p {
    margin: 0;
}

.input {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .card {
        max-width: 50%;
        margin: 10% auto;
    }

}